FP_MANAGER_URL=https://manager.francescopasseri.com
FP_BRIDGE_SECRET=
FP_MCP_EXTRA_SITES_JSON=[{"name":"fp-development.local","site_url":"http://fp-development.local","secret":"inserisci-secret-locale"}]
